.navbar {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: 600;
  color: #333;
  font-size: 24px;
}

.navbar-toggler {
  border: none;
  color: #333;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.nav-link {
  font-weight: 500;
  color: #333;
  font-size: 18px;
}

.nav-link:hover {
  color: #666;
}

.card {
  margin: 20px auto;
  max-width: 400px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: none;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0;
}

.card-subtitle {
  font-size: 18px;
  margin-top: 5px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #333;
  border-color: #333;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #fff;
  color: #333;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardi {
  width: 300px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.cardi:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardi-img {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.cardi-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform .5s;
}

.cardi:hover .cardi-img img {
  transform: scale(1.1);
}

.cardi-content {
  padding: 20px;
  text-align: center;
}

.cardi h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cardi-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  transition: background-color .3s;
}

.bh {
  background-color: #e08012;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.bh:active {
  transform: scale(0.95);
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #e08012;
  text-align: center;
  line-height: 30px;
  color: black;
}

#myBarc {
  width: 0%;
  height: 30px;
  background-color: #16c3cf;
  text-align: center;
  line-height: 30px;
  color: black;
}

.bc {
  background-color: #16c3cf;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.bc:active {
  transform: scale(0.95);
}

.bj {
  background-color: #fdf900;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.bj:active {
  transform: scale(0.95);
}

#myBarj {
  width: 0%;
  height: 30px;
  background-color: #fdf900;
  text-align: center;
  line-height: 30px;
  color: black;
}

.br {
  background-color: #00fdfd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.br:active {
  transform: scale(0.95);
}

#myBarr {
  width: 0%;
  height: 30px;
  background-color: #00fdfd;
  text-align: center;
  line-height: 30px;
  color: black;
}

.bb {
  background-color: #7b48d8;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.bb:active {
  transform: scale(0.95);
}

#myBarb {
  width: 0%;
  height: 30px;
  background-color: #7b48d8;
  text-align: center;
  line-height: 30px;
  color: black;
}

.bp {
  background-color: #1b37d6;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.bp:active {
  transform: scale(0.95);
}

#myBarp {
  width: 0%;
  height: 30px;
  background-color: #1b37d6;
  text-align: center;
  line-height: 30px;
  color: black;
}

.bru {
  background-color: #d61b1b;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.bru:active {
  transform: scale(0.95);
}

.git {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.git:active {
  transform: scale(0.95);
}
#myBarru {
  width: 0%;
  height: 30px;
  background-color: #d61b1b;
  text-align: center;
  line-height: 30px;
  color: black;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem auto;
  max-width: 90%;
  color: #333;
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}