.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
}

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.one {
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto;
    overflow: hidden;
    /*La overflowpropiedad especifica si recortar el contenido o agregar barras de desplazamiento cuando el contenido de un elemento es demasiado grande para caber en el área especificada.

La overflowpropiedad tiene los siguientes valores:

visible- Por defecto. El desbordamiento no se recorta. El contenido se muestra fuera de la caja del elemento.
hidden- El desbordamiento se recorta y el resto del contenido será invisible
scroll- El desbordamiento se recorta y se agrega una barra de desplazamiento para ver el resto del contenido
auto- Similar a scroll, pero agrega barras de desplazamiento solo cuando es necesario*/
    box-shadow: 0 0 3px 3px #efb762;
    border-radius: 9px;
    transform: rotate(-0.6deg);
}

.two {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    margin: auto;
    box-shadow: 0 0 3px 3px #8f0401;

    transform: rotate(0.4deg);
    border-radius: 8px 10px;
}

.three {
    width: 91%;
    height: 28%;
    background-color: #b20403;
    margin: 0 auto 20px;
    filter: blur(3px);
    /*La propiedad CSS filter dota de efectos gráficos como el desenfoque o cambio de color en la representación antes de que se muestre el elemento. 
    Los filtros se utilizan comúnmente para ajustar la representación de imágenes, fondos o bordes.
    
    La función CSS blur() aplica un desenfoque Gaussiano a la imagen de entrada. El resultado es un <filter-function>.
    */

    border-radius: 30px 25px 60px 12px;
    /*La border-radiuspropiedad define el radio de las esquinas del elemento.

    Sugerencia: ¡Esta propiedad le permite agregar esquinas redondeadas a los elementos! 

    Esta propiedad puede tener de uno a cuatro valores. Estas son las reglas:

    Cuatro valores - border-radius: 15px 50px 30px 5px; (el primer valor se aplica a la esquina superior izquierda, el segundo valor se aplica a la esquina superior derecha, el tercer valor se aplica a la esquina inferior derecha y el cuarto valor se aplica a la esquina inferior izquierda):

    Tres valores - border-radius: 15px 50px 30px; (el primer valor se aplica a la esquina superior izquierda, el segundo valor se aplica a las esquinas superior derecha e inferior izquierda y el tercer valor se aplica a la esquina inferior derecha):

    Dos valores - border-radius: 15px 50px; (el primer valor se aplica a las esquinas superior izquierda e inferior derecha, y el segundo valor se aplica a las esquinas superior derecha e inferior izquierda):

    Un valor - border-radius: 15px; (el valor se aplica a las cuatro esquinas, que se redondean por igual*/
    transform: rotate(-0.2deg);
    /*La propiedad CSS transform te permite modificar el espacio de coordenadas del modelo de formato visual CSS. 
    Usándola, los elementos pueden ser trasladados, rotados, escalados o sesgados de acuerdo a los valores establecidos.
    
    La función CSS rotate() define una transformación que gira un elemento alrededor de un punto fijo en un plano 2D sin deformarlo.*/
    box-shadow: 0 0 5px 5px #b20403;
}

.one,
.two {
    filter: blur(1px);
}