.modal {
    background-color: rgba(0, 0, 0, 0.5); /* Crea un fondo oscuro semitransparente */
    position: fixed; /* Fija el modal en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Usa flexbox para centrar el contenido vertical y horizontalmente */
    justify-content: center;
    align-items: center;
    
  }
  
  .modal-content {
    background-color: white; /* Color de fondo */
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
  }
  