.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5; /* cambiar a color oscuro para modo oscuro */
}

.app-container.dark {
  background-color: #333;
}

.app-title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #333;
  margin-bottom: 24px;
}

.app-title.dark {
  color: #f5f5f5;
}