.movies-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .movie-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .movie-poster {
    width: 100%;
    height: auto;
  }
  
  .movie-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  .movie-title:hover {
    color: red;
    cursor: pointer;
  }